<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>Technical Overview</h3>
    <p>
      Social Stalk is a way to appropriately stalk people. 
    </p>
    <br>

  </div>
</div>