<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h1 class="text-center">ABOUT</h1>
    <hr>
    <h3>General Overview</h3>
    <div class="well">
      <p>
        SocialStalk is an appropriate social platform to stalk people.
      </p>
    </div>
    
    
    <h3>Technical Overview</h3>
    <div class="well">
      <ul>
        <li>Ruby on Rails 4.2.5</li>
        <li>PostgreSQL 9.3</li>
        <li>jQuery</li>
        <li>BootStrap CSS</li>
      </ul>
    </div>
    
    
    <h3>Development</h3>
    <div class="well">
      <h4>Gems</h4>
      <ul>
        <li><strong>Devise</strong> - used for user authentication, security and session management.</li>
        <li><strong>CarrierWave</strong> - used to upload files from Ruby applications.</li>
        <li><strong>acts_as_votable</strong> - to implement liking feature.</li>
        <li><strong>acts_as_commentable</strong> - to implement commenting feature.</li>
        <li><strong>acts_as_follower</strong> - to create relationships between users.</li>
        <li><strong>public_activity</strong>y - to implement news feed feature.</li>
        <li><strong>will_paginate</strong> - to paginate the list of records.</li>
      </ul>
      <br>
      
      <h4>JS components</h4>
      <ul>
        <li>jQuery Plugin - Date and Time Picker</li>
        <li>Ajax - to submit the forms</li>
      </ul>
    </div>

  </div>
</div>