// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#newsfeed > h4 {
  text-align: center;
  padding: 10px;
}

#intro {
  padding: 0px 50px;
  text-align: center;
  h1 {
    color: $navbar-color;
    font-weight: 300 !important;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.65rem;
    line-height: 3rem;
  }
}

#img-preview {
  padding: 5px;
  display: inline-block;
  border: 1px solid $border-color;
  img {
    width: 35px;
    height: 35px;
  }
}
